.first-div {
    width: 500px;
    height: 500px;
    background-color: lightblue;  
    border-width: 3px;
    border-style: solid;
    border-color: darkblue;     
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
}
